<nz-modal
  [nzAutofocus]="null"
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  nzMaskClosable="false"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="700"
>
  <ng-template #modalTitle> {{ tittle }} </ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="form" (ngSubmit)="save()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Mã</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Mã loại sản phẩm không được để trống!">
          <input nz-input formControlName="code" id="code" placeholder="Nhập vào mã" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Tên</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Tên loại sản phẩm không được để trống!">
          <input nz-input formControlName="name" id="name" placeholder="Nhập vào tên" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">Loại sản phẩm cha</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-select
            [nzDisabled]="isInfo"
            nzShowSearch
            [ngModelOptions]="{ standalone: true }"
            nzAllowClear
            nzPlaceHolder="Chọn loại SP cha"
            [(ngModel)]="parentId"
          >
            <nz-option *ngFor="let item of listCategory" [nzLabel]="item.name" [nzValue]="item.id"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isDisplay">Hiển thị</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-switch formControlName="isDisplay" nzSize="small" style="margin-right: 5px"></nz-switch>
          <label>
            <nz-tag [nzColor]="'#00BB00'" [hidden]="!form.value.isDisplay">Hoạt động</nz-tag>
            <nz-tag [nzColor]="'#EF5350'" [hidden]="form.value.isDisplay">Không hoạt động</nz-tag>
          </label>
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item style="margin-bottom: 0">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="content"> Mô tả </nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <textarea rows="3" nz-input id="content" formControlName="content" placeholder="Nhập vào mô tả"></textarea>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      class="btn-secondary"
      *ngIf="isInfo && btnEdit.visible && btnEdit.grandAccess"
      (click)="btnEdit.click($event)"
    >
      <i nz-icon nzType="edit" nzTheme="fill"></i>{{ btnEdit.title }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="btn-primary"
      *ngIf="!isInfo && btnSave.visible && btnSave.grandAccess"
      [nzLoading]="isLoading"
      (click)="btnSave.click($event)"
    >
      <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSave.title }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="btn-primary"
      *ngIf="!isInfo && !isEdit && btnSaveAndCreate.visible && btnSaveAndCreate.grandAccess"
      [nzLoading]="isLoading"
      (click)="btnSaveAndCreate.click($event)"
    >
      <i nz-icon nzType="save" nzTheme="fill"></i>{{ btnSaveAndCreate.title }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="btn-warning"
      *ngIf="btnCancel.visible && btnCancel.grandAccess"
      (click)="btnCancel.click($event)"
    >
      <i nz-icon nzType="close-circle" nzTheme="fill"></i>{{ btnCancel.title }}
    </button>
  </ng-template>
</nz-modal>
